# Python
__pycache__/
*.pyc

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# Telemetry data
*.parquet

# FastF1 cache
PlanE-backend/data/fastf1-cache/

# VS Code
.vscode/

# Logs
*.log
PlanE-backend/fastf1_cache/

# FastF1 cache
**/data/cache/
**/fastf1-cache/
**/fastf1_cache/