# Python
__pycache__/
*.pyc

# Environment
.env

# Database
*.db

# Telemetry data
*.parquet

# FastF1 cache
pitwall-backend/data/fastf1-cache/

# VS Code
.vscode/

# Logs
*.log
pitwall-backend/fastf1_cache/